<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="checkUsage" value="51" />
        <option name="convertByteOrShortToInt" value="true" />
        <option name="disableCompleteWithJdbcType" value="true" />
        <option name="mybatisGeneratorMapperSuffix" value="Dao" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>